<section class="bg-blue-100">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900"
    >
      <img class="w-15 h-15 mr-2" src="assets/images/logo2.svg" alt="logo" />
    </a>
    <div
      class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md sm:p-8"
    >
      <h2
        class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
      >
        Change Password
      </h2>
      <form
        class="mt-4 space-y-4 lg:mt-5 md:space-y-5"
        [formGroup]="ChangePasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900"
            >New Password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your new password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            required=""
            formControlName="newPassword"
          />
          @if (newPassword?.invalid && newPassword?.touched) { @if
          (newPassword?.hasError("required")) {
          <p class="text-red-500">Password is required</p>
          } @if (newPassword?.hasError("minlength")) {
          <p class="text-red-500">Password must be at least 8 characters</p>
          } @if (newPassword?.hasError("maxlength")) {
          <p class="text-red-500">Password must be at most 24 characters</p>
          } @if (newPassword?.hasError("pattern")) {
          <p class="text-red-500 w-100">
            Password must contain at least one uppercase letter,two number, and
            one special character
          </p>
          } }
        </div>
        <div>
          <label
            for="confirm-password"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Confirm password</label
          >

          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            placeholder="enter your confirm password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
            required=""
            formControlName="confirmPassword"
          />
          @if (confirmPassword?.invalid && confirmPassword?.touched) { @if
          (confirmPassword?.hasError("required")) {
          <p class="text-red-500">Confirm password is required</p>
          } @if (confirmPassword?.hasError("minlength")) {
          <p class="text-red-500">
            Confirm password must be at least 8 characters
          </p>
          } @if (confirmPassword?.hasError("maxlength")) {
          <p class="text-red-500">
            Confirm password must be at most 24 characters
          </p>
          } @if (confirmPassword?.hasError("pattern")) {
          <p class="text-red-500 w-100">
            Confirm password must contain at least one uppercase letter,two
            number, and one special character
          </p>
          } @if (confirmPassword?.hasError("passwordMismatch")) {
          <p class="text-red-500">Passwords do not match</p>
          } }
        </div>
        <button
          type="submit"
          [disabled]="ChangePasswordForm.invalid"
          [ngClass]="{
            'bg-blue-600 hover:scale-110 cursor-pointer':
              ChangePasswordForm.valid,
            'bg-gray-400 cursor-not-allowed opacity-60':
              ChangePasswordForm.invalid
          }"
          class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Reset passwod
        </button>
      </form>
    </div>
  </div>
</section>
